.content {
    margin: 50px 0px;
    margin-top: 62px !important;
}
.slider {
    width: 100%;
    max-width: 900px;
    position: absolute;
    top: 0;
    height: 80vh!important;
    background: rgba(5, 4, 4, 0.87);
}
.actions{
    z-index: 10000;
    position: relative;
    top: -50%;
    display: flex;
    justify-content: space-between;
}
.slider_pagination{
    visibility: hidden;
}
.actions .slider_nav{
    border:none;
    background: none;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}
.slider_slides-cont {
    position: relative;
    padding-bottom: 56.25%;
    height: 100%;
}
.slider_slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.slider_slide:first-child {
    visibility: visible;
    opacity: 1;
}
.slider_slide > img {
    width: 100%
}
.slider_nav {
    padding: 15px;
}
.slider_pagination_btn {
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}
.slider_pagination_btn:before {
    content: '';
    display: inline-block;
    padding: 6px;
    border-radius: 100%;
    background-color: #ccc;
}
.slider_pagination_btn:hover:before {
    background-color: #aaa;
}
.slider_pagination_btn:focus:before {
    background-color: #777;
}
.slider_pagination_btn.slider_pagination_btn--sel:before {
    background-color: black
}
.slider_progress-bar {
    width: 100%;
    height: 7px;
    background-color: #eee;
}
.slider_progress-bar_bar {
    width: 0;
    height: 100%;
    background-color: #555;
}
.slider_progress-bar_bar--moving {
    width: 100%;
    transition: 3.5s linear;

}

.grid-similar{
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid-similar a{
    margin: 20px 10px;
    color: #000000;
}
.grid-similar h6{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}


.grid-similar a img{
    width: 100%;
    height: 150px;
}

.fg{
    padding:5px 0px;
}
.fg label{
    line-height: 10px;
}
.fg textarea{
    min-height: 200px;
}

.fg input, .fg textarea, .fg::placeholder{
    padding: 5px 10px;
}

.p-3{
    padding: 30px;
}

.bg-img-details{
    display: none;
}

.preview{
    width: 100%;
    height: 250px;
    background: #000000;
}

.title, .location{
    text-align:center;
}